apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: drive-unity
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/part-of: drive-unity
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
